---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
// import LinkButton from "@components/LinkButton.astro";
import bmbsquare from "/assets/bmbsquare.webp";
import bmbmobile from "/assets/widebmbmobile.webp";
---

<Layout title={`About Me | ${SITE.title}`}>
  <Header />

  <main id="main-content">
    <div class="main-wrapper">
      <h1 aria-label="About">About me</h1>
      <p class="text-center">How I make really fast websites</p>



        <div class="mx-auto max-w-4xl mt-16 text-left">
          <h2 class="font-bold text-3xl text-gray-800">
            Page builders in 2023 are awesome.
          </h2>
          <p class="text-lg text-left leading-relaxed">
            Nearly anyone can design a functioning and fashionable website for basically free.
          </p>
          <p class="text-lg text-left leading-relaxed">
            The problem is that no-code tools can quickly paint non-programmers into a corner.
          </p>
          <p class="text-lg text-left leading-relaxed">
           Bloated file sizes, clunky designs, and slow servers kill conversions.
          </p>
          <p class="text-lg text-left leading-relaxed">
            Poor user experiences torpoedo your traffic, and puts you on Google's naughty list.
          </p>
        </div>
        <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
          <div class="group"></div>
          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800">Joe Trubenstein</h2>
          </div>
        </div>
      </div>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto max-w-4xl pt-12;
  }
  .main-wrapper {
    @apply mb-14 flex flex-col items-center justify-center p-4;
  }
  .main-wrapper h1 {
    @apply text-4xl font-bold text-skin-accent;
  }
  .main-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
</style>
