<div class="px-4 text mt-12">
    <div class="p-8 md:px-20 md:py-20  mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center mb-12">
      <h2 class="text-4xl lg:text-6xl xl:text-7xl tracking-tight lg:tracking-tighter font-bold">
        Build better websites.
      </h2>
      <p class="font-normal md:text-lg pt-2 text-skin-soft">
        Book a free discovery session with me to learn more about how I do it.
      </p>
      <div class="flex mt-5">
        <a class="inline-flex justify-center rounded-lg text-sm font-bold py-3 px-4 bg-skin-card hover:bg-skin-card-muted text-skin-white" href="/contact"><span>Start for Free<!-- --> <span aria-hidden="true" class="hidden text-slate-400 sm:inline">→</span></span></a>
      </div>
    </div>
</div>