---
import resultsmobile from '/assets/resultsmobile.webp';
import results from '/assets/resultsdesktop.webp';
---

<section class="lg:pt-6">

    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">

<div class="sm:flex items-center justify-center hidden">
	<img
	class="w-full rounded-lg aspect-video bg-cover bg-center"
	src={results}
	alt="Bald Man Brands"
  />
</div>

<div class="flex items-center justify-center sm:hidden">
	<img
	class="w-full rounded-lg aspect-video bg-cover bg-center"
	src={resultsmobile}
	alt="Bald Man Brands"
  />
</div>


        <div class="mt-4 md:mt-0">
            <h2 class="font-extrabold text-2xl sm:text-3xl lg:text-4xl tracking-tight lg:tracking-tighter mb-4">Real, measurable impact</h2>
            <p class="leading-relaxed md:text-lg text-skin-soft">I use easily quantifiable performance metrics to demonstate just how effective <a class="text-skin-accent" href="https://jamstack.org/">Jamstack</a>
				web architecture can be. Build lightning-fast websites to delight both users and search engines alike.</p>
        </div>
    </div>	  

</section>

